<app-loader></app-loader>

<section  id="banner" class="topbanner container-fluid covered {{ project.tilecolor }}" >
  <div class="gradient-bg row pb-20">
    
    <div class="col-md-6 col-xs-12 text-center">
          <img class="hero-img" src="{{ project.heroimage }}">
      </div>

      <div class="responsive-info col-md-6 col-xs-12 pb-20">
          <img class="mb-10" src="{{ project.clientlogo }}">
          <h1>{{ project.title }}</h1>
          <p>{{ project.shortdescription }}</p>
          <div *ngIf="project.linktoproject" #noLink><a class="ghost" href="{{ project.linktoproject }}" target="_blank">See Live</a></div> 
      </div>
      
    </div>
</section>
<app-curve></app-curve>
<div  class="text-center wrapper">
  <li class="tech-text"> RESPONSABILITIES: </li>
  <li class=" tech tech-research tech-array" *ngFor="let usedtechs of project.tech" id="" >{{usedtechs}}</li>
</div>

<section class="container">
  <h2 class="text-center"> Screenshots </h2>
  <div class="gallery row screenshots text-center">

    
        <!-- <a *ngFor="let photos of project.photo.photoarray" class="col-xs-6 col-lg-3 col-md-4" href="{{ photos }}" data-title="{{ photos }}" data-lightbox="example-set">
          <img class="example-image" src="{{photos}}" alt="{{ photos }}" />
        </a> -->

      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo1 }}" data-title="{{ project.photo.photo1.title }}" data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo1 }}" alt="{{ project.photo.photo1.title }}" />
      </a>

      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo2 }}" data-title="{{ project.photo.photo2.title }}" data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo2 }}" alt="" />
      </a>

      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo3 }}" data-title="{{ project.photo.photo3.title }}"  data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo3 }}" alt="" />
      </a>
      
      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo4 }}" data-title="{{ project.photo.photo4.title }}"  data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo4 }}" alt="" />
      </a>

      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo5 }}" data-lig  htbox="example-set" data-title="{{ project.photo.photo5.title }}" >
        <img class="example-image" src="{{ project.photo.photo5 }}" alt="" />
      </a>
      
      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo6 }}" data-lightbox="example-set" data-title="{{ project.photo.photo6.title }}" >
        <img class="example-image" src="{{ project.photo.photo6 }}" alt="" />
      </a>

              <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo7 }}" data-title="{{ project.photo.photo1.title }}" data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo7 }}" alt="{{ project.photo.photo1.title }}" />
      </a>

      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo8 }}" data-title="{{ project.photo.photo8.title }}" data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo8 }}" alt="" />
      </a>

      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo9 }}" data-title="{{ project.photo.photo9.title }}"  data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo9 }}" alt="" />
      </a>
      
      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo10 }}" data-title="{{ project.photo.photo10.title }}"  data-lightbox="example-set">
        <img class="example-image" src="{{ project.photo.photo10 }}" alt="" />
      </a>

      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo11 }}" data-lightbox="example-set" data-title="{{ project.photo.photo11.title }}" >
        <img class="example-image" src="{{ project.photo.photo11 }}" alt="" />
      </a>
      
      <a class="col-xs-6 col-lg-3 col-md-4" href="{{ project.photo.photo12 }}" data-lightbox="example-set" data-title="{{ project.photo.photo12.title }}" >
        <img class="example-image" src="{{ project.photo.photo12 }}" alt="" />
      </a>
</div>
 </section>
<div class="text-center mb-20"> 
    <!-- <a class="ghost btn-light" [routerLink]="['/post', 203]">Preview</a>
    <a class="ghost btn-light" [routerLink]="['/post', 215]">next</a> -->
  <a class="ghost btn-light " routerLinkActive="active"  [routerLink]="['/home']" >Back to projects</a>
</div>
